.button {
  padding: 3px 12px;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: var(--shadow-soft-fade);
  font-family: var(--main-text-font);
  font-weight: 500;
  font-size: medium;
}

.btn-alert {
  background-color: var(--alert-color);
}
.btn-alert:hover {
  background-color: var(--alert-color-hover);
}

.btn-encourage {
  background-color: var(--encourage-color);
}

.btn-encourage:hover {
  background-color: var(--encourage-color-hover);
}
.btn-default {
  background-color: var(--accent-color-primary);
  color: var(--text-contrast-color);
}
.btn-default:hover {
  background-color: var(--accent-color-primary-hover);
}

.btn-accent {
  background-color: var(--accent-color-secondary);
  color: var(--text-contrast-color);
}
.btn-accent:hover {
  background-color: var(--accent-color-secondary-hover);
}
