.tool-bar-wrapper {
  background-color: var(--primary-bg-color);
  width: 60px;
  position: sticky;
  padding-top: 30px;
  box-shadow: var(--shadow-soft-fade);
}

.tool-bar {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
